*{
    box-sizing: border-box;
}

body{
    margin: 0;
}

.container{
    max-width: 1280px;
    margin: 0 auto;
}

/* Helpers */

.flex{
    display: flex;
}

.flex.column{
    flex-direction: column;
}

.flex.align-center{
    align-items: center;
}

.flex.just-center{
    justify-content: center;
}
.flex.space-between{
    justify-content: space-between;
}