@import './cmps/header.css';
@import './cmps/home-page.css';
@import './cmps/about-page.css';
@import './cmps/footer.css';
@import '../apps/notes/css/notes.css';
@import '../apps/email/css/email.css';
@font-face {
    font-family: Anton;
    src: url(../assets/fonts/Anton-Regular.ttf)
}

@font-face {
    font-family: OpenSans;
    src: url(../assets/fonts/OpenSans-Regular.ttf)
}

@font-face {
    font-family: OpenSansL;
    src: url(../assets/fonts/OpenSans-Light.ttf)
}

@font-face {
    font-family: OpenSansSB;
    src: url(../assets/fonts/OpenSans-SemiBold.ttf)
}

@font-face {
    font-family: OpenSansB;
    src: url(../assets/fonts/OpenSans-Bold.ttf)
}

@font-face {
    font-family: brands;
    src: url(../assets/fonts/fa-brands-400.ttf);
}

* {
    box-sizing: border-box;
}

html {
    font-size: 16px;
    font-family: OpenSans;
    height: 100%;
}

body {
    margin: 0;
    background-color: #6cdaee59;
    height: 100%;
    display: flex;
    flex-direction: column;
}

body>section {
    flex: 1;
    display: flex;
    flex-direction: column;
}

ul {
    padding: 0;
    margin: 0;
}

.container {
    max-width: 1280px;
    margin: 0 auto;
}

.container:not(.header-container, .footer-container) {
    padding: 20px;
}

.colors {
    color: #10E7DC #0074E1 #1B9CE5 #6CDAEE #F79E02
}

.app {
    flex: 1;
}


/* Helpers */

.flex {
    display: flex;
}

.flex.column {
    flex-direction: column;
}

.flex.align-center {
    align-items: center;
}

.flex.just-center {
    justify-content: center;
}

.flex.space-between {
    justify-content: space-between;
}


/* list */

.clean-list {
    list-style-type: none;
    text-decoration: none;
}

@media screen and (max-width: 880px) {
    html {
        font-size: 13px;
    }
    .container {
        max-width: 800px;
    }
}

@media screen and (max-width: 660px) {
    html {
        font-size: 10px;
    }
}

@media screen and (max-width: 440px) {
    html {
        font-size: 8px;
    }
}