.search-bar {
    outline: none;
    border-radius: 25px;
    padding-left: 20px;
    padding-right: 28px;
    width: 400px;
    font-size: 1rem;
}

.search-box{
    width: fit-content;
    position: relative;
    margin-right: 20px;
}

.search-btn{
    width: 1.6rem;
    position: absolute;
    right:15px;
    top: 17.5px;
}