@import './edit-notes.css';
@import './add-note.css';
@import './saved-notes.css';
@import './filter-notes.css';

textarea,
input {
    margin: 0;
    padding: 10px;
    font-family: OpenSansL;
    border: none;
    overflow: hidden;
}

button {
    cursor: pointer;
}

.select-note-type>* {
    padding: 10px;
}

.note-btn {
    background-color: #0074e154;
    border: 1px solid #0074E1;
    border-radius: 8px;
    padding: 5px 10px;
    transition: .2s;
    font-size: 1rem;
    font-family: OpenSansL;
}

.note-btn:hover {
    background-color: #0074e1af;
}

.type-icn {
    color: #0074e154;
    font-size: 2rem;
    cursor: pointer;
}

.type-icn:hover {
    color: #0074e1;
}

.notes-container {
    padding: 15px 20px 0 20px;
    flex: 1;
    width: 100%;
}

.selected>*{
    color: #0074e1;
}