textarea,
input {
    margin: 0;
    padding: 10px;
    font-family: OpenSansL;
    border: none;
    overflow: hidden;
}

.notes-container {
    flex-wrap: wrap;
}

.note-text {
    outline: none;
    width: 100%;
}

.add-note {
    background-color: #ffffff;
    padding: 15px;
    border-radius: 20px;
}

.saved-note {
    color: rgb(75, 75, 75);
    background-color: rgb(255, 255, 255);
    padding: 20px;
    width: fit-content;
    max-width: 300px;
    height: fit-content;
    border-radius: 20px;
    margin: 10px;
}

.edit-btn {
    width: 1rem;
    cursor: pointer;
}

.edit-btns {
    margin-top: 10px;
    opacity: 0;
    transition: .2s;
    width: 100px;
}

.saved-note:hover>.edit-btns {
    opacity: 1;
}

.saved-text {
    max-width: 200px;
    height: fit-content;
}