.notes-container {
    flex-wrap: wrap;
}

.saved-note {
    color: rgb(75, 75, 75);
    background-color: rgb(255, 255, 255);
    padding: 20px;
    width: fit-content;
    max-width: 300px;
    height: fit-content;
    border-radius: 20px;
    margin: 10px;
}

.edit-btn {
    width: 1rem;
    cursor: pointer;
}

.edit-btns {
    margin-top: 10px;
    opacity: 0;
    transition: .2s;
    width: 100px;
}

.saved-note:hover>.edit-btns {
    opacity: 1;
}

.saved-text {
    max-width: 100%;
    height: fit-content;
}

.relative-label {
    position: relative;
}

.color-input {
    position: absolute;
    top: 0;
    left: 0;
    width: 0.5rem;
    opacity: 0;
    z-index: -1;
}

.note-img {
    max-width: 100%;
}

.done {
    text-decoration: line-through;
}

h5,
h6 {
    margin: 0;
}

h4 {
    margin-top: 0;
}

.todo-container {
    max-width: 100%;
    padding: 15px;
}

.text-features{
    overflow: hidden;
    overflow-wrap: break-word;
}

.light-text{
    font-family: OpenSansL;
}