.notes-container,
.notes-gallery {
    flex-wrap: wrap;
}


.saved-note {
    color: rgb(75, 75, 75);
    background-color: rgb(255, 255, 255);
    padding: 1.4rem;
    max-width: 38%;
    height: fit-content;
    border-radius: 1.4rem;
    margin: 0.6rem;
    position: relative;
}

.saved-frame {
    color: rgb(75, 75, 75);
    background-color: rgb(255, 255, 255);
    padding: 20px;
    max-width: 60%;
    border-radius: 20px;
    margin: 10px;
    position: relative;
}

.edit-btn {
    width: 1rem;
    cursor: pointer;
}

.edit-btns {
    margin-top: 10px;
    border-radius: 0.2rem;
    padding: 0.2rem;
    opacity: 0;
    transition: .2s;
    width: 100px;
    background: rgba(255, 255, 255, 0.5);
}

.saved-note:hover>.edit-btns,
.saved-frame:hover>.edit-btns,
.saved-note:hover>.pin,
.saved-frame:hover>.pin {
    opacity: 1;
}

.saved-text {
    max-width: 100%;
    height: fit-content;
}

.relative-label {
    position: relative;
}

.color-input {
    position: absolute;
    top: 0;
    left: 0;
    width: 0.5rem;
    opacity: 0;
    z-index: -1;
}

.note-img {
    max-width: 100%;
}

.note-frame {
    max-width: 100%;
}

.done {
    text-decoration: line-through;
}

h5,
h6 {
    margin: 0;
}

h4 {
    margin-top: 0;
}

.todo-container {
    max-width: 100%;
}

.todo-container h5 {
    margin-right: 0.5rem;
}

.text-features {
    overflow: hidden;
    overflow-wrap: break-word;
    margin-top: 1rem;
}

.light-text {
    font-family: OpenSansL;
}

.video-note {
    width: 400px;
    height: 260px;
    border: none;
}

.pin {
    color: #0074e154;
    font-size: 1.5rem;
    cursor: pointer;
    transition: .2s;
    position: absolute;
    top: 0.5rem;
    left: 0.8rem;
    opacity: 0;
}

.pin:hover {
    color: #0074e1;
    font-size: 1.8rem;
}

.solid {
    color: #0074e1;
    opacity: 1;
}

.pinned {
    order: -1;
}