.logo {
    font-family: Anton;
    font-size: 2rem;
    color: #F79E02;
    cursor: pointer;
    text-decoration: none;
    letter-spacing: 0.1rem;
}

.logo::after {
    content: ".";
    color: #1B9CE5;
}

.main-header {
    background-color: #10E7DC;
}

.main-nav a {
    text-decoration: none;
    font-size: 1.3rem;
    color: #10E7DC;
}

.main-nav li {
    padding: 1rem;
    background-color: #1B9CE5;
    height: 100%;
}

.main-nav{
    height: 100%;
}