.email-preview img {
    width: 14px;
    margin: 7px
}

.email-preview img:hover {
    cursor: pointer;
}

.email-preview {
    display: flex;
    font-family: OpenSanSB;
    font-size: 1.1rem;
    color: black;
    background-color: blanchedalmond;
    border-radius: 5px;
    margin: 2px;
}

.email-preview>* {
    flex: 1
}

.read {
    font-family: inherit;
    color: rgb(82, 80, 80);
    font-size: 0.9rem;
    font-family: OpenSans;
}