button:focus {
    outline: 0;
}

button:hover {
    cursor: pointer;
}

.email-app nav {
    display: flex;
    flex-direction: column;
    margin-right: 20px
}

.email-app nav button {
    padding: 5px;
    margin: 5px;
}

.email-app nav .active {
    color: #F79E02;
    border: 1.5px #F79E02 solid;
    background-color: #0074e1af;
}